<table class="table table-hover table-bordered standings_table" id="standings_second">
  <thead>
    <tr class="table_top">
      <th class="firstColumn">
        <span>Team</span> /
        <span>Owner</span>
      </th>
      <th class="secondColumn">Points</th>
      <% (-@current_matchday..-20).each do |n|%>
      <th class="th_match" colspan="2">
        <%= -n %>
      </th>
      <%end%>
      <% if @second_timer < 7 %>
      <th class="th_spacer"></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @secondhalftotals.each do |u|%>
    <tr>
      <td class="team_cell" title="<%=u.fname%> <%=u.lname%>">
        <%= u.team_name%>
      </td>
      <td class="secondColumn">
        <%= u.secondhalf %>
      </td>
      <% @upicks[u.id][19..-1].first(@second_timer).reverse.each do |t|%>
        <% unless @unlocked_mds.include? t.matchday%>
      <td>
          <%= t.team_id %>
      </td>
      <td class="pt_cell">
          <%= t.points%>
      </td>
        <%else%>
          <td></td>
          <td>0</td>
        <%end%>
      <%end%>
      <% if @second_timer < 7 %>
      <td class="td_spacer"></td>
      <% end %>
    </tr>
    <%end%>
  </tbody>
</table>