<nav class="navbar navbar-dark navbar-expand-md bg-success justify-content-between">
  <div class="container-fluid">
    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".collapseNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- left side -->
   
    <div class="navbar-collapse collapse collapseNav w-50 order-1 order-md-0">
      <ul class="nav navbar-nav">
      <% if user_signed_in? || session[:guest_user_id] %>
        <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to 'Standings', standings_path, :class => "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'My Picks', mypicks_path, :class => "nav-link" %>
        </li>
        <% elsif session[:guest_user_id] != nil%>
        <li class="nav-item">
          <%= link_to 'Standings', gstandings_path, :class => "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'My Picks', gpicks_path, :class => "nav-link" %>
        </li>
        <% end %>
        <li class="nav-item">
          <%= link_to 'EPL Table', epl_table_path, :class => "nav-link" %>
        </li>
        <li class="nav-item" data-toggle="tooltip" title="Schedule">
          <%= link_to schedule_path(@current_matchday), :class => "nav-link" do %>
          <i class="fa fa-calendar fa-2x"></i>
          <% end %>
        </li>
      </ul>
    </div>
        <!-- Title -->
      <% if session[:guest_user_id] != nil%>
        <a href="/welcome" class="navbar-brand d-block text-center order-0 order-md-1 nav_title">PremPicks</a>
      <% else %>
        <a href="/" class="navbar-brand d-block text-center order-0 order-md-1 nav_title">PremPicks</a>
      <% end %>
    <%end%>

    <!-- right side -->
    <% if user_signed_in? || session[:guest_user_id] %>
    <div class="navbar-collapse collapse w-50 order-2 collapseNav">
      <ul class="navbar-nav ml-auto">
          <li class="nav-item" data-toggle="tooltip" data-placement="bottom" title="Rules">
            <%= link_to rules_path, :class => "nav-link" do %>
              <i class="fa fa-gavel fa-2x"></i>
            <% end %>
          </li>
          <% if user_signed_in? %>
          <li class="nav-item" data-toggle="tooltip" data-placement="bottom" title="Account">
            <%= link_to edit_user_registration_path, :class => "nav-link" do %>
              <i class="fa fa-user fa-2x"></i>
            <% end %>
          </li>
          <% end %>
          <li class="nav-item" data-toggle="tooltip" data-placement="bottom" title="Sign Out">
            <%= link_to destroy_user_session_path, :method => :delete, :class => "nav-link" do %>
              <i class="fa fa-sign-out fa-2x"></i>
            <% end %>
          </li>
      </ul>
    </div>
    <%else%>
    <li class="nav-item">
      <%= link_to 'Sign in', new_user_session_path, :class => "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to 'Sign up', new_user_registration_path, :class => "nav-link" %>
    </li>
    <%end%>
  </div>
</nav>